.welcome {
  height: 45.6vh;
  width: 100vw;
  background-image: url('/css/images/hero-bg.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome h1 {
  font-family: 'Montserrat', serif;
  margin-right: 7%;
  margin-top: 3%;
  font-size: 3em;
}
