.navContainer {
  width: 100vw;
  height: 13vh;
  background-color: #333132;
  display: flex;
  flex-direction: row;
}

.logo {
  margin-top: .5%;
  height: 77%;
  width: 30%;
}

.navLinks {
  font-family: 'Montserrat', serif;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  margin: 1%;
  font-size: 1em;
}

.navLinks:hover {
  color: #f47721;
  border-bottom: 5px solid #f47721;
}

.welcome {
  height: 45.6vh;
  width: 100vw;
  background-image: url('/css/images/hero-bg.jpg');
}
